## Python üëç

Python is what is called an interpreted language. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

In [29]:
# Check the Python Version

import sys
print(sys.version)

3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]

[Tip:] sys is a built-in module that contains many system-specific 
parameters and functions, including the Python version in use. 
Before using it, we must explictly import it.

In [44]:
print("Hello World!")

Hello World!

## Types of objects in Python

Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).

## Object Types
* float
* integer
* string
* boolean

In [31]:
x = 10
y = 10.1
z = "Hello"
b = True

In [32]:
type(y)

float

In [33]:
y1 = int(y)
y1

10

In [34]:
y_string = str(y)
y_string

'10.1'

In [47]:
float("1.1")

1.1

In [35]:
b

True

In [36]:
type(b)

bool

In [45]:
int(True)

1

In [38]:
bool(1)

True

## Expressions: Mathemeatical Operations

In [39]:
5 + 5 * 10  - 2 / 5

54.6

In [40]:
11 // 2   # integer division

5

In [41]:
var1 = 10
var1

10

## String Operations

single quote or double quote

In [2]:
name = "DavutEmrahAyan"

In [3]:
# indices start with 0

name[0]   # first element

'D'

In [4]:
name[5]   # 6th alphabet

'E'

In [5]:
# negative index

name[-1]   # last index

'n'

#### slicing

In [6]:
name[0:5]   # first 5 index ; 5 is not included

'Davut'

In [7]:
name[::2]   # every other alphabet

'DvtmaAa'

In [8]:
name[0:5:2]   # from 0 to 5 except 1, 3 (evry second element, start from 0 to 5)

'Dvt'

In [9]:
len(name)   # length of the string

14

### Concatenate

In [10]:
statement = name + " is the best!"   # concatenate

statement

'DavutEmrahAyan is the best!'

In [12]:
fname = name[0:5] + " "

fname * 3

'Davut Davut Davut '

### Immutable

You can not change part of a string

In [14]:
fname[2] = "A"

TypeError: 'str' object does not support item assignment

### escape sequence   \

In [77]:
print("Davut \nEmrah \nAyan")   # \n is a new line indicator (escape sequnece)

Davut
Emrah
Ayan

In [15]:
print("Davut\tEmrah\tAyan")  # \t is an indicator of tab

Davut	Emrah	Ayan

In [16]:
print("Davut\\Ayan")

Davut\Ayan

In [17]:
print(r"Davut")   ## r indicates that a raw string will start

Davut

## Methods

In [19]:
a = "Davut"

b = a.upper()    ## uppercase

b

'DAVUT'

In [20]:
a = "Davut is successful"

b = a.replace("is", "and Orhan are")   ### replace a segement of a string

b

'Davut and Orhan are successful'

In [22]:
a.find("is")   # find the starting (index) of the specific segment

6

## Tuples

In Python, there are different data types: string, integer, and float. These data types can all be contained in a tuple as follows:

ordered sequences. comma separated elements in parentheses.

In [17]:
abc = (1, 4, 5, 2, 4, 7)

type(abc)

tuple

In [18]:
abc = ("Davut", 4, 5, 2.5, 4, 7)

abc[0]

'Davut'

In [20]:
abc[-1]   # negative index (last element)

7

## concatenate tuples

In [26]:

abc + ("try", 10, "times")

('Davut', 4, 5, 2.5, 4, 7, 'try', 10, 'times')

In [27]:
abc[0:3]

('Davut', 4, 5)

In [29]:
len(abc)  ## length of a tuple

6

### tuples are immutable


you need to assign a new name

In [21]:
a = (1,3,7,2)

b = ("a", 3, "b", 4)

a[2] = "b"

TypeError: 'tuple' object does not support item assignment

### Sorting tuple and make it a list

In [22]:
a = sorted(a)   ## you can assign new variable name

a

[1, 2, 3, 7]

## Nesting

In [23]:
nested = (1, 2, ("a", "b", "c"), ("ayan", (4, 5)))

nested[2]

('a', 'b', 'c')

In [24]:
nested[2][1]

'b'

## Lists

A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

list are like tuples, ordered sequences.

But lists are mutable.

In [4]:
ab = [1, 5, 2, 3, [1, 2], "Davut", ("a", 3)]

ab

[1, 5, 2, 3, [1, 2], 'Davut', ('a', 3)]

In [5]:
ab[4][1]

2

In [6]:
ab[2:4]

[2, 3]

## concatenate

In [8]:
cd = [3, 4]


ab + cd

[1, 5, 2, 3, [1, 2], 'Davut', ('a', 3), 3, 4]

## New Elements or Nested Lists

In [9]:
cd.extend([10,11])   ## add new elements (merge)

cd

[3, 4, 10, 11]

In [10]:
cd.append(["append", "as a list"])   ### append as a new list (one element)

cd

[3, 4, 10, 11, ['append', 'as a list']]

## mutable

Lists are mutable, we can change them, elemwntwise.

Here we change $6^{th}$ element.

In [11]:
abc = [1, 2, 3, 4, 5, "Davut"]

abc[5] = "Davut Ayan"

abc

[1, 2, 3, 4, 5, 'Davut Ayan']

In [12]:
del(abc[0:2])       ## delete

abc

[3, 4, 5, 'Davut Ayan']

### Convert string to list

In [73]:
name = "Davut Ayan"


name2 = name.split()

name2

['Davut', 'Ayan']

In [74]:
name2[0]

'Davut'

In [75]:
names = "Orhan, Emre, Davut, Tugba"

names2 = names.split(",")

names2

['Orhan', ' Emre', ' Davut', ' Tugba']

## Aliasing

When we set one variable B equal to A, both A and B are referencing the same list in memory:

In [13]:
A = ["hard rock", 10, 3.4]

B = A

A[0]

'hard rock'

In [14]:
B[0]

'hard rock'

In [15]:
# change first element of A

A[0] = "banana"

A

['banana', 10, 3.4]

In [16]:
B    # although I did not change B, it changes as well  (side effect, consequence)

['banana', 10, 3.4]


### Clone (clone by value)

In [84]:
A = ["hard rock", 10, 3.4]

B = A[:]

A

['hard rock', 10, 3.4]

In [85]:
B

['hard rock', 10, 3.4]

In [86]:
# change first element of A

A[0] = "banana"

A

['banana', 10, 3.4]

In [87]:
B

['hard rock', 10, 3.4]

In [88]:
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None